body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: Arial, x-locale-body, sans-serif;
  letter-spacing: -.00278rem;
  font-size: 18px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

.hide {
  display: none;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

@keyframes loaderKeyFrame {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader__circle {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  animation: loaderKeyFrame 1s infinite linear;
  border: 2px;
  border-style: solid;
  border-color: #d2dae3;
  border-top-color: #64707f;
}

.loader {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1010;
  min-height: 48px;
  background-color: #24292e;
  color: hsla(0,0%,100%,.75);
}

.header__container {
  text-align: center;
}

.header__heading {
  display: inline-block;
  vertical-align: middle;
  color: #616161;
}

.header__loader {
  margin-right: 5px;
}

.header__push {
  display: block;
  height: 20px;
}

.container {
  position: relative;
  padding: 0 12px;
  margin: 0 auto;
}

@media (min-width: 798px) {
  .container {
    max-width: 750px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.cart {
  position: relative;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  margin-bottom: 24px;
}

.cart.cart-narrow {
  max-width: 400px;
}

.cart__head {
  padding: 12px 14px 10px;
  font-weight: 600;
  border-bottom: 1px solid #EEE;
}

@media (min-width: 798px) {
  .cart__head {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.cart__body {
  padding: 24px;
  box-sizing: border-box;
}

.cart-loader {
  min-height: 250px;
  line-height: 125px;
  text-align: center;
}

.device-status {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #9E9E9E;
  border-radius: 50%;
  vertical-align: middle;
}

.device-status__online {
  background: #43A047;
}

.list {
  position: relative;
}

.list-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.list-item {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 3px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 798px) {
  .list-item {
    padding: 5px 24px;
  }
}

.list-item__text {
  display: inline-block;
  vertical-align: middle;
}

.list-item__controls {
  position: relative;
}

.list-item__loader {
  margin-right: 10px;
}

.toggle {
  display: inline-block;
  vertical-align: middle;
}

.toggle input {
  display: none;
}

.toggle__slide {
  display: block;
  position: relative;
  flex: none;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  background-color: #d7d2cb;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 1;
  margin: 5px;
}

.toggle__slide::before,
.toggle__slide::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 1px;
  border-radius: 30px;
  height: 28px;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
  transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
  ;
}

.toggle__slide::before {
  z-index: -1;
  width: 48px;
  right: 1px;
  transform: scale(1);
}

.toggle__slide::after {
  z-index: 1;
  width: 28px;
  left: 1px;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input:checked + .toggle__slide {
  background-color: #4dde5e;
}

input:checked + .toggle__slide::before {
  transform: scale(0);
}

input:checked + .toggle__slide::after {
  transform: translate3d(20px, 0, 0);
}

input:disabled + .toggle__slide {
  opacity: 0.6;
}

.form {
  position: relative;
}

.form__row {
  position: relative;
  margin-bottom: 24px;
}

.form__control {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.btn {
  position: relative;
  display: inline-block;
  height: 40px;
  padding: 0 24px;
  color: #fff;
  background: #1E88E5;
  border: 1px solid #1565C0;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-appearance: none;
  cursor: pointer;
}

.activities-list {
  font-size: 14px;
}

.activity-item {
  color: #424242;
}

.activity-item__name {
  font-weight: 600;
}

.activity-item__date {
  padding-left: 10px;
}


.footer {
  text-align: center;
  margin-bottom: 24px;
}

.footer a {
  color: #616161;
}

.footer a:hover {
  color: #000;
}
